h1 {
    font-family: 'Robto', sans-serif;
    font-weight: 500;
    font-size: 19px;
    margin: 0%;
    float: left;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: 218px;
    border-radius: 10px;
}

#submit,
#txt {
    width: 100%;
    margin: 6px;
}